
# ---------------------------------------------------------------------------- #
#                              VISUAL STUDIO CODE                              #
# ---------------------------------------------------------------------------- #

*.vscode/



# ---------------------------------------------------------------------------- #
#                                    ECLIPSE                                   #
# ---------------------------------------------------------------------------- #

# -------------------------- Main Files and Folders -------------------------- #

.project
.metadata
.classpath
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
/target/


# -------------------------- External Tools Builders ------------------------- #

.externalToolBuilders/


# ----------------------- Eclipse Launch Configurations ---------------------- #

*.launch


# -------------------------------- Python IDE -------------------------------- #

*.pydevproject


# ------------------------- C/C++ Development Tooling ------------------------ #

.cproject


# ------------------------------ CDT- Autotools ------------------------------ #

.autotools


# ------------------------- Java Annotation Processor ------------------------ #

.factorypath


# --------------------------- PHP Development Tools -------------------------- #

.buildpath


# ----------------------------- SBTEclipse Plugin ---------------------------- #

.target


# -------------------------------- Tern Plugin ------------------------------- #

.tern-project


# ------------------------------ TeXlipse Plugin ----------------------------- #

.texlipse


# ----------------------------- Spring Tool Suite ---------------------------- #

.springBeans


# ----------------------------- Code Recommenders ---------------------------- #

.recommenders/


# --------------------------- Annotation Processing -------------------------- #

.apt_generated/
.apt_generated_test/


# ------------------------- Scala & Java Development ------------------------- #

.cache-main
.scala_dependencies
.worksheet


# ---------------------------- Spring Boot Tooling --------------------------- #

.sts4-cache/



# ---------------------------------------------------------------------------- #
#                                     JAVA                                     #
# ---------------------------------------------------------------------------- #


# ------------------------------ Compiled Class ------------------------------ #

*.class


# ----------------------------------- Logs ----------------------------------- #

*.log


# -------------------------------- BlueJ Files ------------------------------- #

*.ctxt


# ---------------------------- Mobile Tools (J2ME) --------------------------- #

.mtj.tmp/


# ------------------------------- Package Files ------------------------------ #

*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


# -------------------------------- Crash Logs -------------------------------- #

hs_err_pid*
replay_pid*
